
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="mysql://root:1234@localhost:3306/textile_test_db21"
UNSPLASH_API_URL="https://api.unsplash.com"
UNSPLASH_ACCESS_KEY="uBbrq5RdhbzS-x_Qe4OAflJ9KdlT-rj4Uu-XPXODIUQ"
NEXTAUTH_PUBLIC_URL="http://localhost:3000"
FRONTEND_URL="http://localhost:3000"

# Email Configuration (Gmail SMTP)
# Get your Gmail App Password: https://myaccount.google.com/security
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=ckr.nihat@gmail.com
EMAIL_PASSWORD=ddozjmreddjgsvlg

EMAIL_FROM=ProtexFlow <ckr.nihat@gmail.com>
APP_NAME=ProtexFlow